* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 60%;
    max-width: 1000px;
    margin: auto;       /*para centrar */
    overflow: hidden;
}

/* ------------------------HEADER----------------------- */

header{
    background:url('../img/encabezado.jpg') #917272;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu{
    margin: 40px 0;
    text-align: right;
}

header .menu a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    /* hace que no de un salto a la hora de poner el cursor en la opción del navbar */
    border-bottom: 2px solid transparent;  
    /* 1em = 16px    */
    font-size: 1em;
}

header .menu a:hover{
    border-bottom:2px solid #fff;
}

header .contenedor-texto{
    display: flex;
    justify-content: center;
    margin: 190px 0;
}

header .contenedor-texto .texto{
    border: 3px solid rgba(255, 255, 255,0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto h1{
    -webkit-text-stroke: 2px black;
    color: #fff;
    font-weight: 300px;
    font-size: 40px;
    line-height: 50px;
}

/* ---------------------------- FIN HEADER ------------------------------ */



/* --------------------------------- MAIN NOSOTROS ----------------------------------- */

.main .contenedor{
    overflow: visible;
}
.main .nosotros{
    text-align: center;
}

.main .nosotros .foto{
    margin-top: -65px;
}

.main .nosotros .foto img{
    vertical-align: top;
    border-radius: 100%;
    border:5px solid rgba(255, 255, 255, 0.5)
}

.main .nosotros .texto{
    text-align : justify;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto ;
}

.main .nosotros .texto .titulo{
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #dd820d;
    text-align: center;
}

.main .nosotros .texto .bold{
    color: #3895ea;
    /* text-decoration: underline; */
}

/* -------------------------------FIN MAIN NOSOTROS ----------------------------------- */




/* --------------------------------- MAIN PROYECTOS ----------------------------------- */
.main .proyectos  .contenedor-titulo{
    background-color: #FFD626;
    margin: 0 auto 90px auto;
    width: 100%;
    height: 80px;
}

.main .proyectos .contenedor-titulo .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #dd820d;
    font-size: 34px;
    -webkit-text-stroke: 1px black;
}

.main .proyectos .contenedor .contenedor-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos{
    width: 48%;
    height: 50%;
    margin-bottom: 40px;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    cursor: pointer;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos .thumb:hover img {
    opacity: 0.2;
  }

.main .proyectos .contenedor .contenedor-trabajos .descripcion{
    text-align: center;

}

.main .proyectos .contenedor .contenedor-trabajos .descripcion .nombre{
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .proyectos .contenedor .contenedor-trabajos .descripcion .categoria{
    font-size: 14px;
    color: #636363;
}


/* ------------------------------FIN MAIN PROYECTOS ----------------------------------- */







/* ------------------------------Servicios ----------------------------------- */
.servicios .contenedor-titulo{
    background-color: #FFD626;
    margin: 0 auto 90px auto;
    width: 100%;
    height: 80px;
}


.servicios .contenedor-titulo .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #dd820d;
    font-size: 34px;
    -webkit-text-stroke: 1px black;
}

.servicios .contenedor .icono{
    width: 70px;
    height: 70px;
}

.servicios .contenedor .liPrincipal{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    color: #dd820d;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
}

.servicios .contenedor .liSecundaria{
    /* display:flex;
    align-items: center; */
    font-weight: 400;
    font-size: 25px;
    margin: 20px auto;
    margin-left: 75px;
    /* margin-left: 75 px; */
    /* list-style-type: circle; */
}

.servicios .contenedor .lista{
    margin: 80px;
}


/* ----------------------------FinServicios ----------------------------------- */


/* ----------------------------Valores ----------------------------------- */
.main .valores{
    background-color: #FFD626;
    margin: 0 auto 90px auto;
    width: 100%;
    height: 80px;   
}

.main .valores .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011B4A;
    font-size: 29px;
    -webkit-text-stroke: 1px black;
}

/* ----------------------------FinValores ----------------------------------- */


/* ------------------------------Footer-- ----------------------------------- */
footer .contacto{
    padding: 0px 0;

}

footer .contacto .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #dd820d;
    font-size: 34px;
    -webkit-text-stroke: 1px black;
    padding-top: 30px;
    
}

footer .contacto .formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    
}

footer .contacto .formulario input[type="text"]:hover,
footer .contacto .formulario input[type="email"]:hover,
footer .contacto .formulario textarea:hover{
    border: 2px solid #FFD626;
}


footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 48%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    margin:auto;
    background-color: #387bea ;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    width: 70%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

footer .contacto .formulario .boton:hover{
    background: #007bff ;
}


/* ------------------------------ Redes Sociales------------------------------ */



footer .redes{
    background-color: #011B4A;
    padding: 30px 0;
}

footer .redes .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes a{
    color: white;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 30px;
    background: #011B4A;
    margin: 0 20px;

}



footer .redes h2{
    text-align: center;
    color: #FFD626;
}

footer .contacto .contenedor .titulo{
    margin-bottom: 50px;
}

footer .redes .face:hover{
    background-color: #3b5998;
}

footer .redes .whats:hover{
    background-color: #25d366
}

footer .redes .insta:hover{
    background-color: #e1306c
}


/* ----------------------------FinFooter-- ----------------------------------- */


  

/* -------------------------------------- MEDIA QUERIES ----------------------------------- */

@media screen and (max-width: 800px){
    header .menu{
        text-align: left;
    }

    header .menu a{
        margin: 0 5px;
        color: #fff;
        padding-bottom: 9px;
        display: inline-block;
        text-decoration: none;
        /* hace que no de un salto a la hora de poner el cursor en la opción del navbar */
        border-bottom: 2px solid transparent;  
        /* 1em = 16px    */
        font-size: 1em;
    }

    header .contenedor-texto .texto{
        border: 3px solid rgba(255, 255, 255,0.5);
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        padding: 20px 30px;
    }

    .main .nosotros .texto{
        text-align : justify;
        color: #5a5a5a;
        font-weight: 600;
        font-size: 1em;
        line-height: 30px;
        width: 100%;
        margin: 40px auto 30px auto ;
    }


    .main .proyectos .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #dd820d;
        font-size: 30px;
        -webkit-text-stroke: 1px black;
    }

    .main .proyectos .contenedor .contenedor-trabajos .trabajos{
        width: 46%;
    }

    .servicios .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #dd820d;
        font-size: 30px;
        -webkit-text-stroke: 1px black;
    }

    .servicios .contenedor .icono{
        width: 150px;
        height: 100px;
    }

    .servicios .contenedor .lista .liPrincipal{
        /* height: 90%; 
        width:100%;
        /* display:flex; */
        align-items: center;
        justify-content: start;
        font-weight: 400;
        /* color: #dd820d; */
        font-size: 25px;
        margin-left: -120px;
        /* -webkit-text-stroke: 1px black; */
    }
    
    .servicios .contenedor .lista  .liSecundaria{
        /* display:flex;
        align-items: center; */
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: -80px;
        /* margin-left: 75px; */
        /* margin-left: 75 px; */
        /* list-style-type: circle; */
    }

    .main .valores .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #011B4A;
        font-size: 25px;
        text-align: center;
        -webkit-text-stroke: 1px black;
    }

    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
        border: 2px solid #cecece;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        
    }

    footer .contacto .formulario .boton{
        margin:auto;
        background-color: #387bea ;
        border: none;
        border-radius: 5px;
        padding: 10px 40px;
        width: 70%;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    footer .redes h2{
        text-align: center;
        color: #FFD626;
        font-size: 20px;
    }
}

























