* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /* box-sizing: border-box;margin: 0px;padding: 0px;overflow-x: hidden; */
}

.contenedor{
    width: 60%;
    max-width: 1000px;
    margin: auto;       /*para centrar */
    overflow: hidden;
}


/* ------------------------HEADER----------------------- */

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar{
    background-color: white;
    padding: 0;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: black !important;
    font-weight: 600;
}

header{
    background:url('../img/encabezado2.1.jpg');
    background-repeat: no-repeat;
    background-position:left;
    background-size: 100% 100%;
    
} 


header .contenedor-texto{
    display: flex;
    justify-content: center;
    padding: 300px 0;
}

header .contenedor-texto .texto{
    /* border: 3px solid rgba(255, 255, 255,0.5); */
    border-radius: 3px;
    display: inline-block;
    /* text-align: right; */
    padding: 20px 60px;
    margin-top: -250px;
    margin-left: -20px;
    font-size: 50px;
}

header .contenedor-texto .texto h1{
    -webkit-text-stroke: 2px black;
    color: #fff;
    font-weight: 300px;
    font-size: 27px;
    line-height: 50px;
}

/* ---------------------------- FIN HEADER ------------------------------ */



/* --------------------------------- MAIN NOSOTROS ----------------------------------- */

.main .contenedor{
    overflow: visible;
}

/* fondo inap */
.main .nosotros{
    padding-top: 0;
    background: url(../img/distintitoinap_page-0001\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main .nosotros .foto{
    margin-top: -65px;
}

.main .nosotros p{
    color: black;
}

.main .nosotros .foto img{
    vertical-align: top;
    border-radius: 100%;
    border:5px solid rgba(255, 255, 255, 0.5)
}

.main .nosotros .texto{
    text-align : justify;
    color: #5a5a5a;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto ;
}

.main .nosotros .texto .titulo{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #011B4A;
    text-align: center;
}

/* -------------------------------FIN MAIN NOSOTROS ----------------------------------- */




/* --------------------------------- MAIN PROYECTOS ----------------------------------- */

.main .proyectos{
    background-color: #f5f5f5;
}

.main .proyectos  .contenedor-titulo{
    
    background-color: #f5f5f5;
    margin-top: 70px;
    width: 100%;
    height: 80px;
    
}

.main .proyectos .contenedor-titulo .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011B4A;
    font-size: 30px;
    margin-top: 50px;
}

.main .proyectos .contenedor .contenedor-trabajos{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos{
    width: 48%;
    height: 50%;
    margin-bottom: 40px;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.main .proyectos .contenedor .contenedor-trabajos .trabajos img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    /* cursor: pointer; */
}


.main .proyectos .contenedor .contenedor-trabajos .descripcion{
    text-align: center;

}

.main .proyectos .contenedor .contenedor-trabajos .descripcion .nombre{
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .proyectos .contenedor .contenedor-trabajos .descripcion .categoria{
    font-size: 14px;
    color: #636363;
}


/* ------------------------------FIN MAIN PROYECTOS ----------------------------------- */







/* ------------------------------Servicios ----------------------------------- */
.servicios .contenedor-titulo{
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 80px;
}


.servicios .contenedor-titulo .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011B4A;
    font-size: 30px;
    margin-top: 50px;
}

.servicios .contenedor .icono{
    width: 70px;
    height: 70px;
}


.servicios .contenedor .lista{
    margin: 80px;
}


/* ----------------------------FinServicios ----------------------------------- */


/* ----------------------------Valores ----------------------------------- */


.main .valores .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011B4A;
    font-size: 30px;
    margin-top: 50px;
}

/* ----------------------------FinValores ----------------------------------- */


/* ------------------------------Footer-- ----------------------------------- */
footer .contacto{
    padding: 0px 0;
    margin-top: 70px;
}

footer .contacto .titulo{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011B4A;
    font-size: 30px;
    margin-top: 50px;
    
}

footer .contacto .formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    
}



footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 48%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    margin:auto;
    background-color: #8e0021 ;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    width: 70%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

footer .contacto .formulario .boton:hover{
    background: #6c001a ;
}


/* ------------------------------ Redes Sociales------------------------------ */


footer{
    background-color: #eb3237;
}

footer .redes{
    /* background-color: #eeedec; */
    padding: 30px 0;
}

footer .redes .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes a{
    color:white;
    text-align: center;
    width: 100px;
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 25px;
    background: #eb3237;
    margin: 0 20px;

}



footer .redes h2{
    text-align: center;
    color: white;
}

footer .contacto .contenedor .titulo{
    margin-bottom: 50px;
}

footer .redes .face:hover{
    background-color: #e82528;
}

footer .redes .whats:hover{
    background-color: #e82528
}

footer .redes .insta:hover{
    background-color: #e1306c
}


/* ----------------------------FinFooter-- ----------------------------------- */

.svg-wrapper{
    display:block;
    position: relative;
    width: 100%;
    height: 80px;
    
  }
  .svg-wrapper svg{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
  }
  
  .footer{
      background-color: white;   
      color: black;
  }
  
  

















/* -------------------------------------- MEDIA QUERIES ----------------------------------- */

@media screen and (max-width: 800px){
     nav .container .navbar-brand img{
        margin-left: 100px;
    }

    header .contenedor-texto .texto{
        /* border: 3px solid rgba(255, 255, 255,0.5); */
        border-radius: 3px;
        display: inline;
        /* text-align: right; */
        padding: 20px 60px;
        margin-top: -325px;
        margin-left: 0px;
        font-size: 20px;
    }

    .main .nosotros .texto{
        text-align : justify;
        color: #5a5a5a;
        font-weight: 400;
        font-size: 1em;
        line-height: 30px;
        width: 100%;
        margin: 40px auto 30px auto ;
    }


    .main .proyectos .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #011B4A;
        font-size: 30px;

    }

    .main .proyectos .contenedor .contenedor-trabajos .trabajos{
        width: 46%;
    }

    .servicios .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #011B4A;
        font-size: 30px;
    }

    .servicios .contenedor .icono{
        width: 150px;
        height: 100px;
    }

    .servicios .contenedor .lista .liPrincipal{
        /* height: 90%; 
        width:100%;
        /* display:flex; */
        align-items: center;
        justify-content: start;
        font-weight: 400;
        /* color: #dd820d; */
        font-size: 25px;
        margin-left: -120px;
        /* -webkit-text-stroke: 1px black; */
    }
    
    .servicios .contenedor .lista  .liSecundaria{
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: -80px;
    }


    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
        border: 2px solid #cecece;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        
    }

    footer .contacto .formulario .boton{
        margin:auto;
        background-color: #8e0021 ;
        border: none;
        border-radius: 5px;
        padding: 10px 40px;
        width: 70%;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    footer .redes h2{
        text-align: center;
        color: #011B4A;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){

    .main .nosotros{
        padding-top: 0;
        background: url(../img/distintitoinap_page-0001\ \(1\).jpg);
        background-repeat: no-repeat;
        background-position: top;
    }
    
    header .menu{
        text-align: left;
    }

    header .menu a{
        margin: 0 5px;
        color: #fff;
        padding-bottom: 9px;
        display: inline-block;
        text-decoration: none;
        /* hace que no de un salto a la hora de poner el cursor en la opción del navbar */
        border-bottom: 2px solid transparent;  
        /* 1em = 16px    */
        font-size: 1em;
    }

    header .contenedor-texto .texto{
        /* border: 3px solid rgba(255, 255, 255,0.5); */
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        padding: 50px 20px;
        font-weight: 600;
    }

    .main .nosotros .texto{
        text-align : justify;
        color: #5a5a5a;
        font-weight: 400;
        font-size: 1em;
        line-height: 30px;
        width: 100%;
        margin: 40px auto 30px auto ;
    }


    .main .proyectos .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #011B4A;
        font-size: 30px;
    }

    .main .proyectos .contenedor .contenedor-trabajos .trabajos{
        width: 100%;
    }

    .servicios .contenedor-titulo .titulo{
        height: 90%; 
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #011B4A;
        font-size: 30px;
    }

    .servicios .contenedor .icono{
        width: 150px;
        height: 100px;
    }

    .servicios .contenedor .lista .liPrincipal{
        /* height: 90%; 
        width:100%;
        /* display:flex; */
        align-items: center;
        justify-content: start;
        font-weight: 400;
        /* color: #dd820d; */
        font-size: 25px;
        margin-left: -120px;
        /* -webkit-text-stroke: 1px black; */
    }
    
    .servicios .contenedor .lista  .liSecundaria{
        /* display:flex;
        align-items: center; */
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: -80px;
        /* margin-left: 75px; */
        /* margin-left: 75 px; */
        /* list-style-type: circle; */
    }

  
    .imagen-edificio{
        background-image: rgba(0, 0, 0, 0.5);
    }

    
}